@charset "UTF-8";

html, body, ul {
	margin: 0;
	padding: 0;
}

header nav {
	height: 50px;
	background-color: gray;
}

header nav ul {
	display: flex;
	height: 100%;
	align-content: center;
	list-style: none;
}

header nav ul li {
	margin-left: 20px;
}

section {
	padding-left: 40px;
	padding-right: 40px;
}

.colorRed {
	color: red;
}

.displayNone { display: none !important; }
