<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring.board.BoardFavMapper">
    <insert id="insBoardFav">
    INSERT INTO t_board_fav
    (ibaord, i_user)
    VALUES
    ( #{ibaord}, #{i_user} )
    </insert>

    <select id="selBoardFav" resultType="_int">
    SELECT count(iboard)
    FROM t_board_fav
    WHERE iboard = #{iboard} AND i_user = #{i_user}
    </select>

    <delete id="delBoardFav">
    DELETE FROM t_board_fav
    WHERE iboard = #{iboard} AND i_user = #{i_user}
    </delete>


</mapper>
