<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring.board.BoardMapper">

    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO t_board
        (title, ctnt, i_user)
        VALUES
        (#{title}, #{title}, #{i_user})
    </insert>

    <select id="selBoardList" resultType="BoardDomain">
        SELECT A.iboard,
               A.title,
               A.i_user,
               A.regdt,
               B.u_nm as WriterNm,
               B.profileImg
        FROM t_board A
        INNER JOIN t_user B ON A.i_user = B.i_user
        ORDER BY iboard DESC;

    </select>

    <select id="selBoard" resultType="BoardDomain">
        SELECT A.title, A.regdt, A.i_user, A.ctnt, A.iboard ,B.u_nm AS writerNm
        FROM t_board A
        LEFT JOIN t_user B
        ON A.i_user = B.i_user
        WHERE A.iboard = #{iboard};

    </select>

    <update id="updBoard">
        UPDATE t_board SET
        title = #{title}, ctnt = #{ctnt}
        WHERE iboard = #{iboard} AND i_user = #{i_user}
    </update>

    <delete id="delBoard">
        DELETE FROM t_board
        WHERE iboard = #{iboard} AND i_user = #{i_user}
    </delete>
</mapper>
