<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring.board.BoardMapper">

    <select id="selBoardList" resultType="BoardDomain">
        SELECT A.iboard, A.title, A.i_user, A.regdt,
               B.u_nm as WriterNm, B.profileImg
        FROM t_board A
                 INNER JOIN t_user B ON A.i_user = B.i_user
        ORDER BY iboard DESC;

    </select>
</mapper>
