<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring.board.BoardCmtMapper">
    <!-- select 제외하고 나머지 ins del upd 는 리턴타입이 int -->
    <insert id="insBoardCmt">
        INSERT INTO t_board_cmt
        (iboard, i_user, cmt)
        VALUES
        (#{iboard}, #{i_user}, #{cmt})
    </insert>

    <select id="selBoardCmtList" resultType="BoardCmtDomain">
        SELECT
        A.icmt, A.i_user, A.cmt, A.regdate,
        B.u_nm AS writerNm, B.profileImg
        FROM t_board_cmt A
        INNER JOIN t_user B
        ON A.i_user = B.i_user
        WHERE A.iboard = #{iboard}
        ORDER BY A.icmt;
    </select>

    <update id="updBoardCmt">
        UPDATE t_board_cmt
        SET cmt = #{cmt}
        WHERE icmt = #{icmt} AND i_user = #{i_user}

    </update>

    <delete id="delBoardCmt">
        DELETE FROM t_board_cmt
        WHERE
        <if test="iboard > 0">
            iboard = #{iboard}
        </if>
        <if test="icmt > 0">
            icmt = #{icmt} AND i_user = #{i_user}
        </if>
    </delete>


</mapper>
